@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
}

body {
  width: 100%;
  height: 100%;
  font-weight: 400;
  color: hsl(0deg, 0%, 17%);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: auto;
}

h1 {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
  z-index: 3;
}

h2 {
  text-align: center;
  color: hsl(0deg, 0%, 59%);
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

#root, .App {
  width: 100%;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.7rem;
}
.App .absolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 40%;
  z-index: 1;
}
.App .Home {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.3rem;
}
.App .Home .Search {
  width: 80%;
  height: 3.5rem;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: auto;
  border-radius: 0.8rem;
  box-shadow: 0 5px 10px 4px rgba(150, 150, 150, 0.08);
}
.App .Home .Search input {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  height: 100%;
  width: 85%;
  border-radius: 0.8rem 0 0 0.8em;
  outline: transparent;
  border: none;
  cursor: pointer;
}
.App .Home .Search input::-moz-placeholder {
  font-size: 0.9rem;
}
.App .Home .Search input:-ms-input-placeholder {
  font-size: 0.9rem;
}
.App .Home .Search input::placeholder {
  font-size: 0.9rem;
}
.App .Home .Search button {
  height: 100%;
  width: 15%;
  border-radius: 0 0.8rem 0.8em 0;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: auto;
  background-color: hsl(0deg, 0%, 17%);
  transition: 0.2s ease-in;
}
.App .Home .Search button:hover {
  background-color: hsl(0deg, 0%, 24%);
}
.App .Home .loading {
  z-index: 3;
  background-color: white;
  width: 80%;
  border-radius: 0.8rem;
  height: 20rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: auto;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(150, 150, 150, 0.6);
  text-transform: uppercase;
  box-shadow: 0 5px 10px 4px rgba(150, 150, 150, 0.08);
}
.App .Home .displayInfo {
  width: 80%;
  border-radius: 0.8rem;
  background-color: white;
  padding: 2rem;
  z-index: 3;
  box-shadow: 0 5px 10px 4px rgba(150, 150, 150, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.App .Home .displayInfo .Data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.App .Home .displayInfo .Data div {
  font-size: 1.3rem;
  font-weight: 500;
  width: 16rem;
  word-wrap: break-word;
}
.App .Home .map {
  z-index: 1;
  position: absolute;
  top: 40%;
  width: 100%;
  height: 60%;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  .App .Home {
    gap: 2rem;
  }
  .App .Home .Search {
    width: 45%;
  }
  .App .Home .Search input {
    width: 90%;
  }
  .App .Home .Search button {
    width: 10%;
  }
  .App .Home .loading {
    height: 15rem;
    font-size: 1.8rem;
  }
  .App .Home .displayInfo {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
  }
  .App .Home .displayInfo .Data {
    align-items: flex-start;
    padding: 0 0 0 2rem;
    border-left: solid 1px rgba(150, 150, 150, 0.5);
  }
  .App .Home .displayInfo .Data div {
    width: 14rem;
    text-align: left;
  }
  .App .Home .displayInfo .Data:first-of-type {
    border: none !important;
  }
}/*# sourceMappingURL=index.css.map */